<head>
  <style>

    #myDIV {
      display: none;
    }

    #myDIVComments {
      display: none;
    }

    #titleNav {
      color: white;
      margin-right: 10px;
      margin-left: 30px;
    }

    hr {
      color: black;
    }

    #unsavebutton {
      float: right;
    }

    #deletebutton {
      margin-top: 10px;
    }

    .titleArticle {
      font-size: 30px; 
    }

    #footer {
      text-align: center; 
      background-color: #2c3e50;
      color: white;
      padding: 20px;
    }
      
  </style> 
</head>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1 id="titleNav"><i class = "glyphicon glyphicon-list"></i> News Scraper</h1>
      </div>
      <div class= "navbar-collapse collapse" id="navbar-list">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/" class="btn btn-primary btn-lg btn-rounded" role="button" id= "navButtons">Home</a></li>
          <li><a href="/saved" class="btn btn-primary btn-lg btn-rounded" role="button" id= "navButtons">Saved Articles</a></li>
        </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class= "col-xs-12">
        <h1 class="animated fadeInRightBig">Saved Articles</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul>
          {{#each articles}}
            {{#if this.saved}}
              <div class="Articles">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><a href="{{ this.link }}" target='_blank'>{{ this.title }}</a></h3>
                    <div id="unsavebutton">{{> articles/unsave-articles }}</div>
                    <div id="deletebutton">{{> articles/delete-articles }}</div>
                  </div>
                  <div class="panel-body">
                    {{ this.summary }}
{{!--                     <br><br> 
                    <div id="myDIV}">
                      <form action="/articles/{{this.id}}" method="POST">
                        <div class="form-group">
                          <label for="theComments">Comment: </label>
                          <input type="text" id="theComments" name="body"><br>
                          <button id = "saveButton" type="submit" class="btn btn-primary btn-sm btn-rounded">Submit</button>
                        </div>
                      </form>
                    </div>
                    <br><br>
                    <div id="myDIVComments">
                      <div class="panel-body">
                        <form action="/articles/" method="GET">
                          <ul>
                            {{#each this.comment}}
                                <li>
                                  <p>{{this.body}}</p>
                                </li>
                            {{/each}}
                          </ul>
                        </form>
                      </div> 
                    </div> --}}
                  </div>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="footer">
      <h4 id="line">© 2017 Nick Ciccarino</h4>
    </div>
  </div>